# Database configuration - один способ подключения
SQLALCHEMY_DATABASE_URL=postgresql://postgres:postgres@db/buisnes_kufar

# Redis configuration
REDIS_HOST=redis-cache
REDIS_PORT=6379

# Security
SECRET_KEY=your-secret-key-here-change-in-production

# Frontend URL
FRONTEND_URL=http://localhost:3000

# CORS Origins
BACKEND_CORS_ORIGINS=["http://localhost:3000","http://localhost:8000"]

# API Key for location service
LOCATION_API_KEY=

# reCAPTCHA
RECAPTCHA_SECRET_KEY=6LdJHHorAAAAAEUE2R1s_QsmJPLR0PSCPnB1_TQy
RECAPTCHA_SITE_KEY=6LdJHHorAAAAAG2JB9CyOtRQbPJWrxbdRPy0dMHO
